#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
  text-align: center;
}

  
input[type=text] {
  box-sizing: border-box;
  padding:20px;
  margin:4px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}